extend ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th ID
						th Price
						th Desc
						th Time
				tbody
					each item in payments
						tr(class="item-id-#{item._id")
							td #{item.id}
							td #{item.price}
							td #{item.description}
							td #{item.meta.createAt}
	script(src="")